

<h1>Don't tell anyone i didnt use a doc type!</h1>
<h2>Hi, <%= @name %></h2>
<p> The answer to the univierse <%= @answer_to_the_universe %></p>
<p>But, really, you should use one</p>
<p> We'll see a better way to do that in a minute</p>